# ignore temp files made by this tutorial
# chromosome files
*.fa
*.fa.gz

# config files
*.yaml

# directories created during these notebook runs.
nemo2_evo2_1b_8k/
preprocessed_data/
pretraining_demo/
brca1_fasta_files/
brca1/
parallel_head_data/
parallel_pretraining_demo/
